{% extends 'navigation.html' %}
{% load static %}
{% block body %}


<div class=""style="border:1px solid white;border-radius:8px;margin-left:60px;margin-top:30px;margin-bottom:90px;margin-right:60px;background-color:white;padding:0px;background-image:url('/static/images/b5.jpg');background-repeat:no-repeat;background-height:500px">
    <div>
<h3><strong style="background:#d2afff;padding:10px;margin-left:10px">About Project</strong></h3><hr>
    <table>

        <td></td>
          <td style="padding:20px"><p style="padding-top:0px;font-size:17px" >
            In this day and age of technology, offline modes of bus ticket booking are no more a preference.
            Online ticket booking is easy, fast and hassle-free.Booking bus tickets online with AbhiBus has solved many problems
            that people face while booking their tickets at offline counters or travel agents.
            <h4 style="background:	#d2afff;margin-left:550px">Here's listing all the benefits of booking bus tickets online on AbhiBus </h4>
            <ul style="list-style-type:circle;margin-left:550px;font-size:20px">
                <li>Avoid standing in long queues at offline bus ticket counters.</li>
        <li>No more hassle of approaching travel agents.</li>
        <li>Check bus ticket availability online.</li>
        <li>Free cancellation feature.</li>
        <li>24/7 customer support.</li>
                <li>Each and every transaction is simple, safe and secure.</li>
            </ul></p></td>
    </table>
        <br><br><br><br><br><br><br><br>
</div>

</div>

{% endblock %}
  

